@import url('https://fonts.googleapis.com/css2?Muli&display=swap');



body{
    background-color: #3A3973;
    overflow-x: hidden;
    box-sizing: border-box !important;
}

/*====================== NAVBAR =====================  */

ul.show{
    background-color: #545383;
}

a.dropdown-item{
    color: white;
}

a.dropdown-item:hover{
    background-color: #545383;
}
/*====================== END OF NAVBAR =====================  */

/*====================== HERO =====================  */
.hero{
    background-color: #3A3973;
    /* height: 700px; */
}

.col-sm-6 figure img{
    width: 380px;
    height: 574px;
    margin-top: 3.2rem;
}

#hero .hero-kiri,#hero .hero-kanan{
    opacity: 0;
    transform: translate(-80px,0);
    transition: .9s;
}

#hero .hero-kiri-muncul{
    opacity: 1;
    transform: translate(0,0);
}

#hero .hero-kanan{
    transform: translate(80px,0);
    opacity: 0;
}

#hero .hero-kanan-muncul{
    opacity: 1;
    transform: translate(0,0);  
}

.col-md-6{
    margin-top: 12rem;
    color: white;
}


.hero-desc{
    margin-top: 6rem;
}
/*====================== END OF HERO =====================  */


/*====================== TENTANG =====================  */

.container-tentang{
    height: 6000px;
    margin-top: -1rem;
}

.title-tentang, .title-karir, .title-galeri, .title-kontak{
    content: '';
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    width: 3%;
    margin: auto;
    display: block;
}

.isi-tentang{
    text-align: justify;
}

.pit-muda .isi-pit-muda, .isi-impian-demokrasi-2-tengah{
    opacity:0;
    transition: .9s;
    transform: translate(0,-50px);
}

.pit-muda .isi-pit-muda-muncul, .isi-impian-demokrasi-2-tengah-muncul{
    opacity:1;
    transform: translate(0,0);
}


.title-pit-muda, .title-keluarga, .title-titik-balik, .title-impian-demokrasi {
    border-bottom: 3px solid #FF7A00;
    font-family: vujahday script;
    font-size: 27px;
}

.keluarga img{
    border-radius: 222px;
    margin-top: 2rem;
    width: 700px; 
    height: 400px;
}

.isi-keluarga .hero-isi-keluarga{
    opacity: 0;
    transform: translate(-100px,0);
    transition: .9s;
}

.isi-keluarga .hero-isi-keluarga-muncul{
    opacity: 1;
    transform: translate(0,0);
}

.isi-keluarga-kiri, .isi-keluarga-kanan, .isi-titik-balik-kiri, .isi-titik-balik-kanan, .isi-impian-demokrasi-1-kiri, .isi-impian-demokrasi-1-kanan{
    opacity: 0;
    transform: translate(-80px,0);
    transition: .9s;
}

.isi-keluarga .isi-keluarga-kiri-muncul, .isi-keluarga .isi-keluarga-kanan-muncul,.cover-titik-balik .isi-titik-balik-kiri-muncul, .cover-titik-balik .isi-titik-balik-kanan-muncul, .isi-impian-demokrasi-1 .isi-impian-demokrasi-1-kiri-muncul, .isi-impian-demokrasi-1 .isi-impian-demokrasi-1-kanan-muncul{
    opacity: 1;
    transform: translate(0,0);
}

.isi-keluarga-kanan, .isi-titik-balik-kanan, .isi-impian-demokrasi-1-kanan{
    opacity: 0;
    transform: translate(80px,0);
    transition: .9s;
}

.isi-titik-balik img{
    width: 250px;
    height: 850px;
    border-radius: 25px 0px 0px 25px;
    padding-left: .5rem;
    opacity: .6;
}

.isi-impian-demokrasi-1-kiri img{
    width: 250px;
    height: 950px;
    padding-left: -2rem;
    opacity: .6;
}

/*====================== END OF TENTANG =====================  */


/* ===================== KARIR ====================== */

.karir-1,.karir-3{
    opacity: 0;
    transform: translate(-80px,0);
    transition: .9s;
}

.karir-2,.karir-4{
    opacity: 0;
    transform: translate(80px,0);
    transition: .9s;
}

.karir-1-muncul,.karir-3-muncul{
    opacity: 1;
    transform: translate(0,0);
}

.karir-2-muncul,.karir-4-muncul{
    opacity: 1;
    transform: translate(0,0);
}


.container-karir{
    margin-top: -40rem;
}

#karir.container {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
}
.single-box {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}
.date-area {
	display: flex;
	/* background: linear-gradient(to right, #FFFCDD 45%, #ffffff 45%, #ffffff 45%, #FFFCDD 50%); */
	order: 2;
	text-align: center;
	color: #fff;
	font-size: 28px;
	flex-basis: 100px;
}
.date-area>span {
	font-size: 15px;
	line-height: 76px;
	margin: auto;
	background: #17708b;
	width: 70px;
	height: 70px;
	border-radius: 50%;
    box-shadow: 2px 2px 3px  black;
}
.content {
	text-align: center;
	padding: 20px;
	border-radius: 25px;
	color: rgb(243, 243, 243);
	order: 3;
	width: 30% !important;
	padding-left: 10px;
	background: #6EC62A;
    box-shadow: 1px 1px 3px  black;
}
.content {
    margin-bottom: 3%;
}
.content h2 {
    margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}
.content h3 {
    margin: 5px;
	font-size: 14px;
	color: white;
}

   h4 img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;
}

@media (min-width: 640px) {
	.content, .custom {
		width: 40%;
	}
	.box-right .content {
		order: 1;
		padding-right: 10px;
		border-radius: 25px;
	}
	.box-right .custom {
		order: 3;
	}
}

/* ===================== END OF KARIR ====================== */


/* ====================== GALERI =========================== */

.isi-card-1-1,.isi-card-1-2,.isi-card-1-3, .isi-card-2-1, .isi-card-2-2{
    opacity: 0;
    transform: scale(80px,80px);
    transition: 1s;
}

.isi-card-1-1-muncul,.isi-card-1-2-muncul,.isi-card-1-3-muncul,.isi-card-2-1-muncul,.isi-card-2-2-muncul{
    opacity: 1;
    transform: translate(0,0);
}

.container-galeri{
    width: auto;
    height: 3700px !important;
    background-color:#00cba9;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.galeri{
    margin-top: 5rem !important;
}

.title-galeri{
    padding-top: 0rem;
    color: white;
}

.card-1 .col-md-3{
    margin: 1rem !important;
}

.card-1 .card{
    width: 351px;
    box-sizing: border-box;
}

.card-1 img{
    width: 350px;
}

.container-carousel{
    margin-top: 6rem !important;
}

img.satu{
    width: 1024px;
    height: 682px;
    border-radius: 30px;
}

img.dua{
    width: 1024px;
    height: 682px;
    border-radius: 30px;
}

img.tiga{
    width: 1042px;
    height: 512px;
    border-radius: 30px;
}


/* ====================== END OF GALERI ==================== */


/* =============== KONTAK ============== */

svg#kontak{
    margin-top: -15rem;
}

.container-kontak{
    background-color: #06283D;
    height: 650px;
    margin-top: -5rem !important;
}

.title-kontak{
    color: white;
    padding-top: 3rem;
}

#kontak .col-md-6{
    text-align: center;
}

.input input{
    height: 40px;
    border-radius: 20px;
    border: unset;
    margin: 1rem;   
    box-shadow:  1px 2px 2px black;
    stroke: #14b6c1;
    text-align: center;
}

.file-cover{
 width: 206px;
 height: 30px;
 background-color: red;
 margin: 1rem;
 border-radius: 20px;
 background-color: #007BFF;
 box-shadow:  1px 1px 1px rgb(0, 0, 0);
}

.file-cover input{
    background-color: #007BFF;
    border-radius: 25px;
    color: white;
    height: 30px;
}


button.btn-success{
    border-radius: 25px;
    width: 120px;
    height: 40px;
    box-shadow:  1px 2px 2px black;
 }  

 
 
 /* =============== END OF KONTAK ============== */
 


.container-footer{
    background-color: #3A3973;
    color: white;
    width: auto;
    height: 40px;
    line-height: 40px;
    margin-top: 0rem;
}

@media only screen and (max-width: 991px){
    html{
        overflow-x: hidden;
    }

    span.hero-name{
        line-height: 65px;
    }

    .hero-desc{
        margin-top: 0rem;
        margin-left: 2.5rem;
        box-sizing: border-box;
        margin-bottom: 3rem;
    }
    
    .keluarga img{
        padding-right: 45px;
    }

    .container-tentang{
        height: 8500px;
    }

    .title-karir{
        margin-top: 5rem !important;
    }

    .container-galeri{
        height: 2900px !important;
        margin-top: -0.2rem;
    }

    .galeri{
        margin-left: -5rem !important;
        }

    .card-1{
        display: grid !important;
        grid-template-columns: repeat(2,350px);
        text-align: center;
        gap: 1rem;
    }

    .card-2{
        display: grid !important;
        grid-template-columns: repeat(1,280px);
        gap: 2rem;
    }

    .card-2 .col-md-3{
        margin-right: 9rem !important;
    }

    img.satu{
        width: 720px;
        height: 500px;
        border-radius: 30px;
    }

    img.dua{
        width: 720px;
        height: 500px;
        border-radius: 30px;
    }

    img.tiga{
        width: 720px;
        height: 480px;
        border-radius: 30px;
    }

    .input input{
        margin-left: -3rem;
    }

    .file-cover{
        background-color: unset;
        box-shadow: unset;
        }

    .file-cover input{
        margin-left: -4rem;
    }

    button.btn-success{
        margin-left: 55px;
    }

    footer{
        margin-left: 50px;
    }
    
    .isi-titik-balik-kanan img{
        width: 150px !important;
        margin-left: -1rem;
    }

    .isi-impian-demokrasi-1-kiri img{
        width: 150px !important;
    }     
}

@media only screen and (max-width: 467px){

    html{
        overflow-x: hidden;
    }

    figure img{
        margin-left: -2rem !important;
        height: 619px !important;
    }

    .title-tentang, .title-karir, .title-galeri, .title-kontak{
        padding-right: 5rem;
    }

    .hero-desc{
        margin-top: -10rem;
        margin-left: -.6rem;
        box-sizing: border-box;
        padding: 5px;
    }

    .container-tentang{
        height: auto;
        margin-top: -1rem;
        margin-bottom: 3rem;
    }

    .keluarga img{
        width: 300px;
        height: 200px;
        border-radius: 48%;
        padding: 10px;
    }
    

    .container-karir{
        margin-top: -6rem;
    }

    .isi-titik-balik-kanan{
        display: none;
    }

    .isi-impian-demokrasi-1-kiri{
        display: none;
    }

    .title-karir{
        padding-top: 6rem;
        text-align: center;
        padding-right: 35px;
    }

    .container-galeri{
        height: 4000px !important;
        margin-top: -.1rem;
        justify-content: center;
    }

    .title-galeri{
        margin-top: 5rem;
    }

    .card-1{
        display: grid !important;
        grid-template-columns: repeat(1,350px);
        text-align: center;
        gap: 1rem;
    }

    .card-2{
        display: grid !important;
        grid-template-columns: repeat(1,305px);
        gap: 2rem;
    }



    /* .container-carousel{
        display: none;
    }
     */

    .carousel-item img{
        width: 350px;
        height: 335px;
    }; 


    /* img.satu{
        width: 350px;
        height: 200px;
        border-radius: 30px;
    }

    img.dua{
        width: 750px;
        height: 500px;
        border-radius: 30px;
    }

    img.tiga{
        width: 770px;
        height: 500px;
        border-radius: 30px;
    } */

    .input input{
        width: 100px;
        margin-left: -5rem;
    }

    .container-kontak{
        margin-top: -5.6rem !important;
    }

    .input input{
       margin-left: -5.6rem;
       width: 300px !important;
    }

    .file-cover{
    background-color: unset;
    box-shadow: unset;
    }

    .file-cover input{
        margin-left: -6.5rem;
    }
    
}

#navbar .navbar-nav li > a {
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.438);
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
}
#navbar .navbar-nav li > a:hover, 
#navbar .navbar-nav li > a:focus {
    color: rgb(255, 255, 255);
}
#navbar .navbar-nav li.active > a {
    color: rgb(255, 255, 255);
}